.textInputWrapper {
  display: flex;
  gap: 3rem;
  border: 1px solid gray;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
}

.edit {
  width: 5rem !important;
  text-align: center;
}
.editRemoveButton {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
}
.modalStyle {
  width: 41rem;
  background-color: #e2e2e2;
  margin-left: 27rem;
  margin-top: 23rem;
  padding: 2rem;
  border-radius: 2rem;
}
.inputEditField {
  width: fit-content;
}

.fields {
  display: flex;
  flex-direction: column;
}

.selectField {
  width: 15rem;
  height: 3rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;

  border: none;
  border: 1px solid gray;
}

.dropDownWrapper {
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: 500;
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
  color: rgb(121, 123, 124);
}
