input {
  width: 15rem;
  height: 2rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  border: none;
  border: 1px solid gray;
}
.inputWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.checkbox {
  width: 2rem;
}
.checkboxwrapper {
  // flex-direction: row;
  // align-items: center;
}

.required {
  color: red;
}
